<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MF-1 Fragment</title>
<style>
html, body {
  padding: 0;
  margin: 0;
}
</style>
</head>
<body>
<div style="padding: 2px">
  <p>Fragment coming from MF-1.</p>
  <p>
    <img src="./packages.png" alt="Packages Icon" width=256 height=256>
  </p>
  <p>The size is auto adjusted by use of the <i>iframe-resizer</i> package.</p>
</div>
<script src="https://unpkg.com/iframe-resizer@4.2.11/js/iframeResizer.contentWindow.min.js"></script>
</body>
</html>